.container {
  position: relative;
  width: 375px;
  height: 48px;

  text-align: left;
  border: 3px solid #d9d9d9;
  border-radius: 15px;
  background-color: #8a8a8a;
  cursor: pointer;

  padding-left: 20px;
  padding-top: 6px;

  font-family: var(--font-family-side);
  color: #cfcfcf;
  font-size: 16px;
  font-weight: var(--font-reglar);

  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.tool {
  position: absolute;
  right: 20px;
  top: 12px;
}

.search_container {
  padding: 5px;
  background-color: #eee;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  user-select: none;
  z-index: -1;
}

.search_container input {
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.menu {
  position: absolute;
  width: 375px;
  max-height: 150px;
  background-color: var(--color-white);

  font-family: var(--font-family-side);
  color: #575757;
  font-size: 16px;
  font-weight: var(--font-reglar);

  border: 1px solid #ccc;
  border-radius: 5px;

  overflow: auto;
  transform: translateY(4px);

  margin-top: 10px;
  z-index: 1;
}

.menu_item {
  padding: 5px;
  cursor: pointer;
}

.selected {
  background-color: var(--page-light-grey-color);
  color: var(--color-white);
}

.menu_item:hover {
  background-color: var(--page-light-grey-color);
}

.selected:hover {
  background-color: #0d6efd;
  color: var(--color-white);
}

.rotated {
  transform: rotate(180deg);
}

@media only screen and (max-width: 480px) {
  .container {
    font-size: 14px;
    height: 45px;
  }
}
