.main_container {
  margin-top: 80px;
  background-color: var(--page-dark-grey-color);
}

.main_content {
  max-width: 1366px;
  margin: 0 auto;
}

.title_container {
  width: 100%;
  background-color: var(--page-light-grey-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: var(--font-family-main);
}

.title_container .title {
  margin-top: 40px;
  margin-bottom: 12px;

  font-size: 36px;
  color: var(--color-white);
}

.title_container .navbar {
  margin-bottom: 14px;

  font-size: 20px;
  color: #363636;
}

.input_container {
  display: flex;
  margin-top: 55px;
  margin-left: 20px;
}

.search_icon {
  vertical-align: bottom;
}

.input {
  width: 520px;
  height: 40px;
  margin-left: 10px;

  font-family: var(--font-family-side);
  color: var(--color-white);
  font-size: 18px;

  border: none;
  background-color: var(--page-dark-grey-color);
  border-bottom: 2px solid #d9d9d9;
}

.input:active,
.input:focus {
  outline: none;
  caret-color: #cfcfcf;
}

.search_container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.dropdown {
  width: 230px;
  background-color: #d9d9d9;
  color: #505050;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));

  margin-left: 30px;
}

.button_find {
  width: 200px;
  height: 50px;
  border-radius: 15px;

  font-size: 20px;
  padding-top: 2px;

  margin-left: 55px;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #ababab;
  margin-top: 60px;
}

.sights_container {
  min-height: calc(50vh - 106px);
  width: fit-content;

  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 70px;

  display: grid;
  align-items: center;
  justify-content: center;

  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 768px) {
  .title_container .title {
    font-size: 28px;
  }

  .title_container .navbar {
    font-size: 18px;
  }

  .input_container {
    margin-top: 40px;
    margin-left: 10px;
  }

  .input {
    width: 340px;
    font-size: 16px;
  }

  .dropdown {
    width: 180px;
    background-color: #d9d9d9;
    color: #505050;

    margin-left: 60px;

    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .button_find {
    width: 160px;
    height: 40px;
    font-size: 16px;
    margin-left: 40px;
  }

  .line {
    margin-top: 40px;
  }

  .sights_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .search_container {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 20px;
  }

  .title_container .title {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 8px;
  }

  .title_container .navbar {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .input_container {
    margin-top: 30px;
    margin-left: 8px;
  }

  .input {
    width: 250px;
    font-size: 14px;
  }

  .dropdown {
    width: 220px;

    margin-left: 30px;
  }

  .button_find {
    width: 140px;
    height: 35px;
    font-size: 14px;
    margin-left: 30px;
  }

  .line {
    margin-top: 30px;
  }

  .sights_container {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
