.offer_container {
  position: relative;
  height: 700px;
  max-height: 700px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;

  z-index: -2;
}

.img_tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  z-index: -1;
}

.offer_content {
  max-width: 1366px;
  margin: 0 auto;
}

.bg_name {
  top: 15px;
  right: 104px;
  position: absolute;
  font-family: 'Montserrat';
  font-weight: var(--font-extra-lite);
  font-size: 18px;
  color: #c6c6c6;
}

.text_container {
  margin-top: 245px;
  margin-left: 144px;
  color: var(--color-white);
  font-family: var(--font-family-side);
}

.side_text {
  font-weight: var(--font-light);
  font-size: 18px;
  line-height: 29px;
}

.main_text {
  max-width: 518px;
  font-weight: var(--font-extra-bold);
  font-size: 32px;
  line-height: 51px;
}

.offer_content Button {
  margin-top: 65px;
  margin-left: 900px;
}

@media only screen and (max-width: 768px) {
  .offer_container {
    height: auto;
    max-height: none;
    padding-bottom: 30px;
  }

  .text_container {
    margin-top: 120px;
    margin-left: 0px;
    text-align: center;
  }

  .main_text {
    max-width: 100%;
    font-size: 28px;
    font-weight: var(--font-extra-bold);
    line-height: 41px;
  }

  .offer_content Button {
    margin: 30px auto 0;
  }

  .offer_button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 220px;
    height: 55px;

    font-size: 21px;
  }
}

@media only screen and (max-width: 480px) {
  .text_container {
    margin-top: 100px;
    margin-left: 0px;

    text-align: center;
  }

  .side_text {
    font-weight: var(--font-light);
    font-size: 16px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .main_text {
    max-width: 100%;
    font-size: 20px;
    font-weight: var(--font-extra-bold);
    line-height: 25px;
    margin-bottom: 20px;
  }

  .offer_button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 180px;
    height: 45px;

    font-size: 18px;
  }
}
