.input_container {
  width: 375px;
  height: 48px;
  position: relative;
  background-color: #8a8a8a;
  border: 3px solid #d9d9d9;
  border-radius: 15px;
  padding: 20px 16px 8px;
  cursor: text;

  font-family: var(--font-family-side);
}

.input_container[aria-disabled='true'] {
  background-color: red;
  cursor: default;
}

.input_label {
  position: absolute;
  left: 25px;
  top: 15px;
  color: #cfcfcf;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  font-size: 14px;
  font-weight: var(--font-reglar);
  text-transform: capitalize;
  cursor: text;
  user-select: none;
}

.input_container[aria-disabled='true'] .input_label {
  cursor: default;
}

.input:focus ~ .input_label {
  transform: translate(-10%, -80%);
  font-size: 12px;
}

.input:not([value='']) ~ .input_label {
  transform: translate(-10%, -80%);
  font-size: 12px;
}

.input {
  width: 100%;
  border: none;
  color: var(--color-white);
  font-size: 16px;
  background-color: transparent;
  padding-right: 15px;
}

.input:active,
.input:focus {
  outline: none;
  caret-color: #cfcfcf;
}

.helper_text {
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  color: rgb(169, 13, 13);
  padding-top: 5px;
  padding-left: 10px;
}

@media only screen and (max-width: 768px) {
  .input_container {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .input_label {
    font-size: 12px;
  }

  .input:focus ~ .input_label {
    font-size: 10px;
  }

  .input:not([value='']) ~ .input_label {
    font-size: 10px;
  }

  .input {
    font-size: 14px;
  }

  .helper_text {
    font-size: 10px;
    line-height: 12px;
    padding-top: 3px;
    padding-left: 8px;
  }
}
