.input_container {
  position: relative;
}

.input {
  position: relative;
  padding-left: 10px;
  padding-bottom: 5px;
}

.input::-webkit-input-placeholder {
  font-family: var(--font-family-side);
  color: #bebebe;
  font-size: 16px;
}

.delete {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.delete:active {
  transform: scale(0.98);
}
