.footer_container {
  width: 100%;
  background-color: #3a3a3a;
}

.footer_content {
  max-width: 1366px;
  margin: 0 auto;

  display: flex;
}

.footer_info {
  display: flex;
  justify-content: center;

  margin-top: 28px;
  margin-bottom: 28px;
}

.footer_info li {
  min-width: 180px;
  list-style-type: none;

  font-family: var(--font-family-side);
  font-weight: var(--font-light);
  font-size: 16px;
  color: var(--color-white);
  text-align: center;

  border-top: 2px solid #9a9a9a;

  margin-right: 43px;
  padding: 5px;

  cursor: pointer;

  transition: all var(--transition);
}

.footer_info li:hover {
  border-top: 2px solid var(--color-white);
}
